* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #080808;
    --secondary-color: #fff;
}

.light-theme {
    --primary-color: #fff;
    --secondary-color: #080808;
}

html {
    scroll-behavior: smooth;
}

#icon {
    width: 30px;
    cursor: pointer;
}

/* header */

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: -10px;
}

.header-text p {
    margin-top: 15px;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-header {
    position: fixed;
    width: 85%;
    height: 100px;
    background-color: var(--primary-color);
    z-index: 100;
}

.logo {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.logo a {
    color: var(--secondary-color);
    text-decoration: none;
}

.highlight {
    color: #ff004f;
    font-weight: bold;
}

b {
    font-size: 30px;
    color: #ff004f;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

.header-text p {
    font-size: 20px;
}

.cols {
    width: 50%;
}

.topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 3px;
    color: var(--secondary-color);
}

.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #ff004f;
}

#icon {
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

#icon:hover {
    color: #ff004f;
    transform: translateY(-5px);
}


/* img in mov */

.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img-box img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box:hover .back-img {
    bottom: 40px;
}

.img-box:hover .main-img {
    left: 54%;
} 

/* about */

.about {
    padding: 80px 0%;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: top;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* services */

.services {
    padding: 30px 0;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.service-list div i {
    margin-bottom: 30px;
    font-size: 50px;
}

.service-list div h2 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.service-list div p {
    color: white;
}

.service-list div i {
    color: white;
}

.service-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.service-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/* portfolio */

.portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--secondary-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: var(--secondary-color);
    color: var(--secondary-color);
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* contact */

#contact {
    margin-top: 50px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: var(--secondary-color);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyp {
    color: white;
}

nav .fa-solid {
    display: none;
}

/* section:my works */

.header-2 {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin-top: -10px;
}

#services-2{
    margin-bottom: 50px;
}

.projects {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
}


.card {
    width: 30%;
    margin-bottom: 40px;
    background-color: #262626;
}

.card img {
    height: auto;
    width: 100%;
    
}

.card p{
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}

.card p::first-line{
    font-weight: bold;
}

/* cv */

.cv{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 100px 30px;
}

/* laptop view */

@media (max-width: 1024px) {
    .img-box {
        width: 30%;
        height: 60%;
        position: absolute;
        bottom: 0;
        right: 100px;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .header-text p {
        font-size: 18px;
    }
}

/*tablet view*/

@media(max-width: 768px) {
    .img-box {
        display: none;
    }

    .cols {
        width: 100%;
    }

    header {
        height: auto;
    }
    
    .header-text {
        margin-top: 130px;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .header-text p {
        font-size: 16px;
    }

    nav .fa-solid {
        display: block;
        font-size: 38px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 16px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    
    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 12px;
        align-items: center;
    }
  
}

/* mobile view */

@media only screen and (max-width: 400px) {
    
    .img-box {
        display: none;
    }

    .cols {
        width: 100%;
    }

    header {
        height: auto;
    }
    
    .header-text {
        margin-top: 130px;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .header-text p {
        font-size: 16px;
    }

    nav .fa-solid {
        display: block;
        font-size: 38px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 16px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    
    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 12px;
        align-items: center;
    }
  
}